* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: none; */
}

/* My fonts */
@font-face {
  font-family: "Walkway";
  src: url("./font/Walkway SemiBold.ttf");
}

@font-face {
  font-family: "HighCruiser";
  src: url("./font/HighCruiser.otf");
}

@font-face {
  font-family: "Azonix";
  src: url("./font/Azonix.otf");
}

@font-face {
  font-family: "Walkway Black";
  src: url("./font/Walkway Black.ttf");
}

@font-face {
  font-family: "Walkway Expand SemiBold";
  src: url("./font/Walkway Expand SemiBold.ttf");
}

body {
  color: #acacac;
  background: linear-gradient(#222222, #333030);
}

p {
  font-family: "Walkway";
}

.myName {
  font-family: "HighCruiser";
  font-size: 0.5em;
  margin: 10px 20px 10px 0px;
}
/* Smooth */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}
/* End smooth */

/* Cursor */
/* .cursorCenter {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  z-index: 99;
  pointer-events: none;
  background-color: #acacac;
  top: 0;
  left: 0;
  cursor: pointer;
} */

.cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid #acacac;
  border-radius: 50%;
  z-index: 98;
  transition: 200ms ease-out;
  pointer-events: none;
  top: 0;
  left: 0;
  cursor: pointer;
}

.textCursor {
  position: absolute;
  font-family: "Walkway";
  z-index: 99;
  display: none;
}

.cursorExplore {
  position: absolute;
  font-family: "Walkway";
  z-index: 99;
  display: block;
  mix-blend-mode: difference;
  animation: fadeOut 2s;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.black {
  position: absolute;
  border: 2px solid #222222;
  width: 70px;
  height: 70px;
  transform: translate(-20px, -20px);
}

.cursorMail {
  position: absolute;
  border: 2px solid #acacac;
  width: 90px;
  height: 90px;
  transform: translate(-30px, -30px);
  cursor: none;
}

.cursorLink {
  position: absolute;
  border: 2px solid #222222;
  width: 40px;
  height: 40px;
  cursor: none;
}

.expand {
  animation: pulse2 0.9s infinite ease-out;
  border: 1px solid #877e7e;
}

@keyframes pulse2 {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* Button for go back to the top */
.buttonScroll {
  position: fixed;
  width: 87px;
  bottom: 28px;
  right: 71px;
  height: 58px;
  z-index: 99;
  cursor: pointer;
  transition: all 0.5s ease;
  opacity: 0;
}

.topButtonScroll {
  position: fixed;
  width: -38px;
  bottom: 79px;
  right: 72px;
  height: 2px;
  z-index: 99;
  cursor: pointer;
  transition: all 0.5s ease;
  opacity: 0;
}

.showBtn {
  opacity: 1;
}

.buttonScrollMovement {
  margin-top: 15px;
  animation: slidein 0.7s infinite alternate;
}

@keyframes slidein {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(10px);
  }
}

/* Custom scrollBar */
::-webkit-scrollbar {
  width: 10px;
  background-color: #222222;
}

::-webkit-scrollbar-thumb {
  background-color: #777778;
  border-radius: 6px;
}

/* Scroll bar on left */
.scroll-bar-about,
.scroll-bar-projects,
.scroll-bar-contact,
.scroll-bar-home {
  position: fixed;
  transform: rotate(-90deg);
  top: 50%;
  z-index: 99;
  color: #acacac;
  font-size: 13px;
  mix-blend-mode: difference;
  font-family: "Walkway Expand SemiBold";
  display: none;
}

.myBar {
  position: fixed;
  display: block;
  width: 7px;
  height: 224px;
  border: 1px solid #6d6d6d;
  left: 5px;
  border-radius: 15px;
  mix-blend-mode: difference;
  opacity: 0.5;
  cursor: default;
  top: calc(50% - 112px);
  z-index: 99;
}

.contentBar {
  position: fixed;
  display: block;
  content: "";
  width: 6px;
  height: 0px;
  top: calc(50% - 112px);
  left: 5px;
  border-radius: 15px;
  background-color: #6d6d6d;
  animation: myWidth 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  z-index: 99;
}

@keyframes myWidth {
  to {
    height: 222px;
  }
}

.title-link {
  text-decoration: none;
  color: #acacac;
}

/* First Part */
.container {
  display: flex;
  height: 100vh;
  background: linear-gradient(#1c1b1b, #222222);
}

.bloc-container1 {
  width: 20%;
  position: relative;
}

.bloc-container2 {
  position: relative;
  background-color: #1b1b1b;
  height: 90%;
}

.bloc-container2-general {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.title-first-container {
  position: absolute;
  color: #dbdbdb;
  font-size: 1.3em;
  font-family: "HighCruiser";
  margin-left: 20px;
  bottom: 110px;
  width: 59%;
}

.text-first-container {
  position: absolute;
  height: 80px;
  width: 450px;
  line-height: 20px;
  margin-left: 20px;
  bottom: 20px;
}

/* Second Part */
.main-second-container {
  background-color: #222222;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-second-container {
  top: -90px;
  position: relative;
  font-family: "HighCruiser";
  font-size: 2vw;
  width: 60%;
  margin-left: 100px;
  margin-bottom: 30px;
  transform: translate(0px, 140px);
}

.mySecondText {
  font-size: 1em;
  padding-left: 219px;
  padding-right: 162px;
  transform: translate(0px, 40px);
}

.important-words {
  font-size: 1.1em;
  color: white;
}

.slider {
  position: relative;
  background-color: #222222;
  height: 300px;
  transform: translateY(-30%);
  left: 86px;
  width: 54%;
}

/* Third Part & First project */
.third-container,
.fourth-container,
.sixth-container,
.fifth-container,
.eighth-container {
  position: relative;
  background-color: #222222;
  overflow: hidden;
}

.number {
  font-size: 19em;
  font-family: "Azonix";
  -webkit-text-stroke: 1px #dbdbdb;
  color: #222222;
}

.title-project {
  position: absolute;
  top: 157px;
  left: 45px;
  font-size: 3em;
  font-family: "HighCruiser";
}

.mockup-img1 {
  position: relative;
  max-width: 80%;
  right: -80px;
  border-radius: 5px;
}

.mockup-img2 {
  position: relative;
  max-width: 80%;
  right: -80px;
  border: 1px solid rgb(172, 172, 172, 0.1);
  border-radius: 5px;
}

.mockup-img3 {
  position: relative;
  max-width: 80%;
  right: -80px;
  border: 1px solid rgb(172, 172, 172, 0.1);
  border-radius: 5px;
}

.second-title-project,
.fourth-title-project {
  position: relative;
  height: 280px;
  top: 55px;
  left: 178px;
}

.third-title-project,
.first-title-project,
.fifth-title-project {
  position: relative;
  height: 280px;
  top: 55px;
  left: 80px;
}

.mockup-project1 {
  position: relative;
  width: 65%;
  right: -569px;
}

.mockup-project2 {
  position: relative;
  width: 65%;
  right: -569px;
}

.mockup-project3 {
  position: relative;
  width: 65%;
  right: -569px;
}

.mockup-project4 {
  position: relative;
  width: 65%;
  right: -569px;
}

.mockup-project5 {
  position: relative;
  width: 65%;
  right: -569px;
}

/* Seventh part */

.seventh-container {
  height: 750px;
  background: linear-gradient(#222222, #333030);
}

.line {
  position: relative;
  border-left: 2px solid #acacac;
  height: 40%;
  margin: 0 auto;
  width: 2px;
  top: 168px;
}

.folio {
  position: relative;
  width: 60px;
  margin: 0 auto;
  top: 190px;
  writing-mode: vertical-lr;
}

.myEmail {
  position: relative;
  width: 423px;
  height: 40px;
  margin: 0 auto;
  top: 135px;
  font-family: "HighCruiser";
  font-size: 1.2em;
}

.myEmail a {
  text-decoration: none;
  color: whitesmoke;
}

.title-footer {
  position: relative;
  width: 227px;
  top: 143px;
  margin: 0 auto;
  font-family: "Walkway";
  height: 38px;
  display: flex;
  align-items: center;
}

.social-container {
  position: relative;
  width: 141px;
  bottom: -217px;
  right: -79px;
  display: flex;
  justify-content: space-around;
}

.social-link a {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Walkway";
}

@media (min-width: 1800px) {
  .mySecondText,
  .text-first-container {
    font-size: 1.3em;
  }

  .title-first-container {
    font-size: 1.9em;
  }
}

@media (max-width: 970px) {
  .main-second-container {
    height: 70vh;
  }

  .text-first-container {
    font-size: 0.8em;
  }

  .text-first-container {
    bottom: 0;
  }

  .title-first-container {
    font-size: 0.9em;
    bottom: 87px;
  }

  .mySecondText {
    font-size: 0.8em;
    padding-left: 130px;
    padding-right: 162px;
  }

  .important-words {
    font-size: 1.1em;
  }

  .backToTheTop,
  .cursorCenter,
  .cursor,
  .myBar,
  .contentBar,
  .textCursor,
  .cursorExplore {
    display: none;
  }

  .scroll-bar-about,
  .scroll-bar-contact,
  .scroll-bar-projects,
  .scroll-bar-home {
    opacity: 0;
  }

  .number {
    font-size: 13.8em;
  }

  .title-project {
    font-size: 1.8em;
  }

  #title1,
  #title4 {
    top: 117px;
  }

  #title2,
  #title3 {
    top: 57px;
  }

  .first-title-project,
  .third-title-project,
  .fifth-title-project {
    left: 49px;
  }

  .second-title-project,
  .fourth-title-project {
    left: 148px;
  }

  .mockup-project1 {
    width: 65%;
    right: -98px;
  }

  .mockup-project2 {
    left: -35px;
    top: -4px;
  }

  .mockup-project3 {
    width: 34%;
    left: 247px;
  }

  .mockup-project4 {
    top: 0px;
    left: -122px;
  }

  .mockup-project5 {
    width: 65%;
    right: -98px;
  }

  .mockup-img1,
  .mockup-img2,
  .mockup-img4,
  .mockup-img5 {
    width: 153%;
  }

  .mockup-img3 {
    width: 200%;
  }

  .main-second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .text-second-container {
    padding-left: 86px;
    margin: 0px 137px 0 51px;
  }
}

@media (max-width: 500px) {
  .third-container,
  .fourth-container,
  .sixth-container,
  .eighth-container {
    height: 60vh;
  }

  .title-footer {
    font-size: 0.7em;
    width: 160px;
  }

  .mySecondText {
    margin: 50px 105px 0 75px;
    padding-left: 0;
    padding-right: 0;
  }

  .text-second-container {
    padding-right: 40px;
    margin: 30px 0 0 65px;
    top: 61px;
  }

  .title-second-container {
    position: relative;
    font-size: 3vw;
    margin-left: 42px;
    top: 66px;
  }

  .title-first-container {
    font-size: 0.7em;
    width: 88%;
  }

  .text-first-container {
    width: 85%;
    line-height: 15px;
  }

  .fifth-container {
    height: 70vh;
  }

  .number {
    font-size: 8em;
  }

  .title-project {
    font-size: 1.1em;
  }

  #title1 {
    top: 62px;
  }

  #title2 {
    top: 31px;
  }

  #title3 {
    top: 69px;
    left: 44px;
  }

  #title4 {
    top: 83px;
  }

  .first-title-project,
  .second-title-project,
  .fourth-title-project,
  .fifth-title-project {
    top: 35px;
    left: 111px;
    width: 200px;
    height: 129px;
  }

  .third-title-project {
    top: 35px;
    left: 112px;
    width: 200px;
    height: 129px;
  }

  .myEmail {
    position: relative;
    height: 30px;
    top: 132px;
    width: auto;
    text-align: center;
    font-family: "HighCruiser";
    font-size: 12px;
  }

  .mockup-project1 {
    width: 100%;
    right: -96px;
    top: 44px;
  }

  .mockup-project2 {
    width: 100%;
    left: -33px;
    top: 44px;
  }

  .mockup-project3 {
    width: 65%;
    left: 143px;
    top: 44px;
  }

  .mockup-project4 {
    width: 100%;
    left: -122px;
    top: 44px;
  }

  .mockup-project5 {
    width: 100%;
    right: -96px;
    top: 44px;
  }

  .mockup-img1,
  .mockup-img2,
  .mockup-img3,
  .mockup-img4,
  .mockup-img5 {
    width: 100%;
  }

  .mockup-img2 {
    height: 180px;
  }

  .social-container {
    width: 222px;
    bottom: -231px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0 auto;
  }

  .bloc-container2-general {
    height: 90%;
  }

  .slider {
    display: none;
  }
}
