* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

/* My fonts */
@font-face {
  font-family: "Walkway";
  src: url("./font/Walkway SemiBold.ttf");
}

@font-face {
  font-family: "HighCruiser";
  src: url("./font/HighCruiser.otf");
}

@font-face {
  font-family: "Azonix";
  src: url("./font/Azonix.otf");
}

@font-face {
  font-family: "Walkway Black";
  src: url("./font/Walkway Black.ttf");
}

@font-face {
  font-family: "Walkway Expand SemiBold";
  src: url("./font/Walkway Expand SemiBold.ttf");
}

body {
  color: #acacac;
}

p {
  font-family: "Walkway SemiBold";
}

.myName {
  font-family: "HighCruiser";
  font-size: 10px;
  width: 200px;
  margin: 10px 20px 10px 0px;
}

/* Cursor */
.cursorCenter {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  z-index: 99;
  pointer-events: none;
  background-color: #acacac;
  top: 0;
  left: 0;
  cursor: pointer;
}

.cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid #acacac;
  border-radius: 50%;
  z-index: 99;
  transition: 200ms ease-out;
  pointer-events: none;
  top: 0;
  left: 0;
  cursor: pointer;
}

.black {
  position: absolute;
  border: 2px solid #222222;
  width: 70px;
  height: 70px;
  transform: translate(-20px, -20px);
}

.cursorMail {
  position: absolute;
  border: 2px solid #acacac;
  width: 90px;
  height: 90px;
  transform: translate(-30px, -30px);
  cursor: none;
}

.cursorLink {
  position: absolute;
  border: 2px solid #222222;
  width: 40px;
  height: 40px;
  cursor: none;
}

.expand {
  animation: pulse2 0.9s infinite ease-out;
  border: 1px solid #877e7e;
}

@keyframes pulse2 {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* Button for go back to the top */
.buttonScroll {
  position: fixed;
  width: 87px;
  bottom: 28px;
  right: 71px;
  height: 58px;
  z-index: 99;
  cursor: pointer;
  transition: all 0.5s ease;
  opacity: 0;
}

.topButtonScroll {
  position: fixed;
  width: -38px;
  bottom: 79px;
  right: 72px;
  height: 2px;
  z-index: 99;
  cursor: pointer;
  transition: all 0.5s ease;
  opacity: 0;
}

.showBtn {
  opacity: 1;
}

.buttonScrollMovement {
  margin-top: 15px;
  animation: slidein 0.7s infinite alternate;
}

@keyframes slidein {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(10px);
  }
}

/* Custom scrollBar */
::-webkit-scrollbar {
  width: 10px;
  background-color: #222222;
}

::-webkit-scrollbar-thumb {
  background-color: #777778;
  border-radius: 6px;
}

/* Scroll bar on left */
.scroll-bar-about,
.scroll-bar-projects,
.scroll-bar-contact,
.scroll-bar-home {
  position: fixed;
  transform: rotate(-90deg);
  margin-top: 356px;
  z-index: 99;
  color: #acacac;
  font-size: 13px;
  mix-blend-mode: difference;
  font-family: "Walkway Expand SemiBold";
  display: none;
}

.scroll-bar-home {
  display: block;
}

.myBar {
  position: fixed;
  display: block;
  width: 7px;
  height: 224px;
  border: 1px solid #6d6d6d;
  left: 0;
  border-radius: 15px;
  margin-top: 251px;
  mix-blend-mode: difference;
  opacity: 0.5;
  cursor: default;
  z-index: 99;
}

.contentBar {
  position: fixed;
  display: block;
  content: "";
  width: 5px;
  height: 0px;
  top: 252px;
  left: 1px;
  border-radius: 15px;
  background-color: #6d6d6d;
  animation: myWidth 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  z-index: 99;
}

@keyframes myWidth {
  to {
    height: 222px;
  }
}

/* Buttons (Get more infos) */
.wrapper-button-project1 {
  position: absolute;
  top: 180px;
  left: 550px;
  transform: translate(-50%, -50%);
}

.button1,
.button2,
.button3,
.button4 {
  position: relative;
  display: block;
  width: 220px;
  height: 60px;
  border-radius: 8px;
  line-height: 40px;
  font-family: sans-serif;
  text-decoration: none;
  color: #acacac;
  border: 1px solid #acacac;
  text-align: center;
  transition: all 0.35s;
  font-size: 12px;
}

.button1:hover,
.button2:hover,
.button3:hover,
.button4:hover {
  color: black;
}

.button1:hover:after,
.button2:hover:after,
.button3:hover:after,
.button4:hover:after,
.myCvImg img {
  width: 100%;
}

/* First Part */
.container {
  height: 100vh;
  display: flex;
  background: linear-gradient(#1c1b1b, #222222);
}

.bloc-container1 {
  width: 30%;
}

.bloc-container2 {
  position: relative;
  background-color: #1b1b1b;
  height: 85%;
}

.bloc-container2-general {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-first-container {
  position: absolute;
  color: #dbdbdb;
  font-size: 20px;
  font-family: "HighCruiser";
  /* height: 90px; */
  margin-left: 20px;
  bottom: 110px;
}

.text-first-container {
  position: absolute;
  height: 80px;
  width: 450px;
  line-height: 20px;
  margin-left: 20px;
  bottom: 20px;
}

/* Second Part */
.main-second-container {
  background-color: #222222;
}

.title-second-container {
  font-family: "HighCruiser";
  font-size: 3vw;
  width: 60%;
  margin-left: 100px;
}

.title-second-container h1 {
  padding-top: 73px;
}

.mySecondText {
  position: relative;
  margin: 25px 0 0 165px;
  padding-right: 124px;
  font-size: 0.8em;
}

.important-words {
  font-size: 18px;
  color: white;
}

/* Third Part & First project */
.third-container,
.fourth-container,
.sixth-container,
.fifth-container {
  position: relative;
  height: 120vh;
  background-color: #222222;
  overflow: hidden;
}

.first-title-project {
  position: absolute;
  height: 280px;
  width: 430px;
  top: 56px;
  left: 78px;
}

.number {
  font-size: 300px;
  font-family: "Azonix";
  -webkit-text-stroke: 1px #dbdbdb;
  color: #222222;
}

.title-project {
  position: absolute;
  top: 157px;
  left: 45px;
  font-size: 46px;
  font-family: "HighCruiser";
}

.mockup-project1 {
  position: absolute;
  height: 100%;
  width: 65%;
  right: -245px;
  bottom: -259px;
}

.mockup-img1,
.mockup-img2,
.mockup-img3,
.mockup-img4 {
  width: 100%;
}

/* Fourth part & second project */

.second-title-project {
  position: absolute;
  height: 280px;
  width: 460px;
  top: 56px;
  right: 100px;
}

.mockup-project2 {
  position: absolute;
  bottom: -323px;
  height: 100%;
  width: 65%;
  left: -119px;
}

.wrapper-button-project2 {
  position: absolute;
  top: 143px;
  right: 460px;
  transform: translate(-50%, -50%);
}

/* Fifth part & third project */

.third-title-project {
  position: absolute;
  height: 280px;
  width: 430px;
  top: 56px;
  left: 78px;
}

.wrapper-button-project3 {
  position: absolute;
  top: 288px;
  left: 660px;
  transform: translate(-50%, -50%);
}

.button3 span,
.button4 span,
.button1 span,
.button2 span {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  top: 7px;
}

.button3:after,
.button4:after,
.button2:after,
.button1:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #acacac;
  transition: all 0.35s;
  border-radius: 7px;
}

.mockup-project3 {
  position: absolute;
  bottom: -333px;
  height: 100%;
  width: 29%;
  right: -31px;
}

/* Sixth part & fourth project */

.fourth-title-project {
  position: absolute;
  height: 280px;
  width: 460px;
  top: 56px;
  right: 100px;
}

.mockup-project4 {
  position: absolute;
  left: -119px;
  bottom: -323px;
  height: 100%;
  width: 65%;
}

.wrapper-button-project4 {
  position: absolute;
  top: 243px;
  right: 460px;
  transform: translate(-50%, -50%);
}

/* Seventh part */

.seventh-container {
  height: 110vh;
  width: 100%;
  background: linear-gradient(#222222, #333030);
}

.line {
  position: relative;
  border-left: 2px solid #acacac;
  height: 40%;
  margin: 0 auto;
  width: 2px;
  top: 168px;
}

.folio {
  position: relative;
  font-family: "HighCruiser";
  width: 84px;
  margin: 0 auto;
  height: 20px;
  top: 190px;
  transform: rotate(-90deg);
}

.myEmail {
  position: relative;
  width: 423px;
  height: 30px;
  margin: 0 auto;
  top: 135px;
  font-family: "HighCruiser";
  font-size: 20px;
}

.myEmail a {
  text-decoration: none;
  color: white;
}

.title-footer {
  position: relative;
  width: 198px;
  top: 143px;
  height: 20px;
  margin: 0 auto;
  font-family: "Walkway";
}

.myCvImg {
  position: relative;
  height: 68px;
  width: 66px;
  margin: 0 auto;
  top: 158px;
}

.social-container {
  position: relative;
  width: 98px;
  bottom: -217px;
  right: -37px;
  display: flex;
  justify-content: space-around;
}

#social-img {
  height: 30px;
  opacity: 0.4;
}

@media screen and (min-width: 250px) and (max-width: 500px) {
  .important-words,
  .title-footer {
    font-size: 14px;
  }

  .mySecondText {
    padding-right: 40px;
    margin: 30px 0 0 65px;
    top: 61px;
  }

  .text-second-container {
    margin: 0px 10px 0 10px;
  }
  .title-first-container {
    font-size: 12px;
    width: 0;
  }

  .text-first-container {
    font-size: 12px;
    width: 265px;
    line-height: 15px;
  }

  .myBar,
  .scroll-bar-home,
  .scroll-bar-projects,
  .scroll-bar-about,
  .scroll-bar-contact,
  .arrowImg,
  .contentBar,
  .backToTheTop,
  .cursorCenter,
  .cursor {
    opacity: 0;
  }

  .fourth-container,
  .sixth-container,
  .third-container {
    height: 60vh;
  }

  .main-second-container,
  .container {
    height: 90vh;
  }

  .fifth-container {
    height: 70vh;
  }

  .number {
    font-size: 130px;
  }

  .title-project {
    font-size: 19px;
  }

  #title1 {
    top: 62px;
  }

  #title2 {
    top: 31px;
  }

  #title3 {
    top: 69px;
    left: 50px;
  }

  #title4 {
    top: 83px;
  }

  .first-title-project,
  .second-title-project,
  .fourth-title-project {
    top: 35px;
    left: 111px;
    width: 200px;
    height: 129px;
  }

  .third-title-project {
    top: 35px;
    left: 95px;
    width: 200px;
    height: 129px;
  }

  .myEmail {
    position: relative;
    height: 30px;
    top: 132px;
    width: auto;
    text-align: center;
    font-family: "HighCruiser";
    font-size: 12px;
  }

  .mockup-project1 {
    height: 103%;
    width: 100%;
    right: -90px;
    top: 196px;
  }

  .mockup-img1,
  .mockup-img2,
  .mockup-img4 {
    width: 100%;
  }

  .mockup-project2 {
    left: -33px;
    height: 100%;
    width: 100%;
    top: 196px;
  }

  .mockup-project4 {
    left: -122px;
    height: 100%;
    width: 100%;
    top: 196px;
  }

  .mockup-project3 {
    left: 143px;
    height: 100%;
    width: 65%;
    top: 196px;
  }

  .social-container {
    width: 36px;
    bottom: -231px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
  }

  .title-second-container {
    position: relative;
    font-size: 3vw;
    width: 60%;
    margin-left: 42px;
    top: 66px;
  }

  .button1,
  .button2,
  .button3,
  .button4 {
    display: none;
  }
}

@media screen and (min-width: 501px) and (max-width: 970px) {
  .text-first-container,
  .title-first-container {
    width: 355px;
  }

  .text-first-container {
    bottom: 0;
    width: 442px;
  }

  .title-first-container {
    font-size: 15px;
    bottom: 87px;
  }

  .mySecondText {
    font-size: 1em;
    padding-right: 121px;
  }

  .button1,
  .button2,
  .button3,
  .button4 {
    display: none;
  }

  .backToTheTop,
  .cursorCenter,
  .cursor {
    display: none;
  }

  .title-footer {
    width: 229px;
  }

  .number {
    font-size: 215px;
  }

  .title-project {
    font-size: 25px;
  }

  #title1,
  #title4 {
    top: 117px;
  }

  #title2,
  #title3 {
    top: 57px;
  }

  .mockup-project1 {
    width: 65%;
    right: 80px;
  }

  .first-title-project {
    left: 49px;
  }
  .second-title-project {
    right: -60px;
  }

  .fourth-title-project {
    right: -33px;
  }

  .mockup-project2 {
    left: -35px;
    top: 263px;
  }

  .mockup-project3 {
    right: 167px;
    top: 274px;
  }

  .mockup-project4 {
    top: 261px;
  }

  .mockup-img1,
  .mockup-img2,
  .mockup-img4 {
    width: 153%;
  }

  .mockup-img3 {
    width: 200%;
  }

  .third-container,
  .fourth-container,
  .fourth-container {
    height: 110vh;
  }

  .seventh-container,
  .main-second-container {
    height: 100vh;
  }

  .main-second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 971px) {
  .title-first-container {
    width: 483px;
    bottom: 85px;
  }

  .text-first-container {
    bottom: 0;
  }

  .main-second-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title-second-container {
    width: 75%;
    font-size: 2vw;
  }

  .mySecondText {
    font-size: 1.1em;
    padding-right: 261px;
    width: 75%;
  }

  .title-footer {
    width: 228px;
  }

  .number {
    font-size: 24vw;
  }

  .title-project {
    font-size: 3.3vw;
  }
}
