* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

/* My fonts */
@font-face {
  font-family: "Walkway";
  src: url("./font/Walkway SemiBold.ttf");
}

@font-face {
  font-family: "HighCruiser";
  src: url("./font/HighCruiser.otf");
}

@font-face {
  font-family: "Azonix";
  src: url("./font/Azonix.otf");
}

body {
  color: #acacac;
  font-family: "Walkway SemiBold";
  background-color: #222222;
}

/* Cursor */
.cursorCenter {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  z-index: 99;
  pointer-events: none;
  background-color: #acacac;
  top: 0;
  left: 0;
  cursor: pointer;
}

.cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid #acacac;
  border-radius: 50%;
  z-index: 99;
  transition: 200ms ease-out;
  pointer-events: none;
  cursor: pointer;
}

.black {
  position: absolute;
  border: 2px solid #222222;
  width: 70px;
  height: 70px;
  transform: translate(-20px, -20px);
}

.cursorMail {
  position: absolute;
  border: 2px solid #acacac;
  width: 90px;
  height: 90px;
  transform: translate(-30px, -30px);
  cursor: none;
}

.cursorLink {
  position: absolute;
  border: 2px solid #222222;
  width: 40px;
  height: 40px;
  cursor: none;
}

.expand {
  animation: pulse2 0.9s infinite ease-out;
  border: 1px solid #877e7e;
}

@keyframes pulse2 {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* Custom scrollBar */

::-webkit-scrollbar {
  width: 10px;
  background-color: #222222;
}

::-webkit-scrollbar-thumb {
  background-color: #777778;
  border-radius: 6px;
}

/* First container */

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
  position: relative;
}

.choices {
  position: fixed;
  width: 80px;
  height: 100px;
  line-height: 25px;
  top: 30px;
  right: 63px;
  text-align: end;
  color: #777778;
  z-index: 99;
}

.text-choice {
  text-decoration: none;
  color: currentColor;
}

/* Animation on menu */
#line1,
#line2,
#line3,
#line4 {
  position: absolute;
  border-left: 70px solid;
  bottom: 12px;
  height: 0.5px;
  color: #877e7e;
  transition: all 0.5s ease-in-out;
  transform: scaleX(0);
}

#line1 {
  bottom: 85px;
  right: 45px;
}

#line2 {
  bottom: 61px;
  right: 70px;
}

#line3 {
  bottom: 35px;
  right: 70px;
}

#line4 {
  right: 70px;
}

.text-choice:hover {
  color: #acacac;
}

.container-pics {
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-pics img {
  width: 60%;
}

/* Second-container */

.second-container {
  display: flex;
  width: 100%;
  height: 400px;
}

.main-blocs {
  background-color: red;
  display: flex;
  width: 80%;
}

.bloc-text {
  width: 70%;
  height: 400px;
  font-size: 17px;
  background-color: #1b1b1b;
  padding: 80px;
}

.second-bloc {
  width: 30%;
  background-color: #1b1b1b;
  height: 400px;
  padding: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 40px;
  text-align: center;
}

.project {
  position: absolute;
  transform: rotate(-90deg);
  top: 518px;
  left: 2px;
  font-size: 1.5em;
  color: #777778;
}

.title-project {
  position: relative;
  font-size: 4em;
  width: 60%;
  top: 55px;
  margin-left: 50px;
  font-family: "Azonix";
}

.under-title {
  text-align: center;
  font-family: "Walkway SemiBold";
  font-size: 20px;
}

.phone-bloc {
  display: flex;
  justify-content: space-around;
  background-color: #222222;
}

.phone-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 90%;
  background-color: #222222;
}

.phone-img {
  width: 25%;
}

.line {
  position: relative;
  border-left: 285px solid #acacac;
  height: 2px;
  top: 106px;
  margin-left: 154px;
}

.number-project {
  position: relative;
  right: -166px;
  top: 76px;
}

@media screen and (min-width: 250px) and (max-width: 600px) {
  .cursor,
  .line,
  .line-nav,
  .number-project {
    display: none;
  }

  .cursorCenter {
    opacity: 0;
  }

  .container {
    height: 30vh;
    width: 350px;
  }

  .container-pics {
    height: 136px;
    margin-top: 25px;
  }

  .container-pics img {
    left: 0;
    width: 277px;
  }

  .second-container {
    display: flex;
    height: 522px;
    width: 100%;
  }

  .choices,
  .bloc-text {
    font-size: 0.7em;
  }

  .bloc-text {
    height: 466px;
    width: 85%;
    padding: 45px;
  }

  .second-bloc {
    width: 85%;
    font-size: 13px;
  }

  .phone-bloc {
    height: 120vh;
    display: flex;
    justify-content: space-around;
  }

  .main-blocs {
    flex-direction: column;
    width: 100%;
    background-color: #222222;
  }

  .choices {
    position: fixed;
    transform: rotate(90deg);
    right: -133px;
    top: 139px;
    height: 27px;
    width: 307px;
  }

  .text-choice {
    margin-left: 20px;
  }

  .title-project {
    top: 15px;
    height: 38px;
    width: 181px;
    font-size: 1.4em;
  }

  .phone-section {
    margin-top: 22px;
    height: 831px;
    top: 66px;
    width: 200px;
    flex-direction: column;
    justify-content: space-between;
  }

  .phone-section img {
    width: 76%;
  }

  .project {
    position: absolute;
    transform: rotate(-90deg);
    top: 206px;
    left: 20px;
    font-size: 0.8em;
    color: #777778;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .bloc-text {
    font-size: 1em;
    width: 80%;
  }

  .line,
  .number-project {
    display: none;
  }

  .second-bloc {
    width: 80%;
  }

  .second-container {
    height: 550px;
  }

  .choices {
    position: fixed;
    transform: rotate(90deg);
    right: -146px;
    top: 171px;
    height: 27px;
    width: 427px;
  }

  .title-project {
    font-size: 3.2em;
  }

  .text-choice {
    margin-left: 30px;
  }

  .main-blocs {
    flex-direction: column;
    width: 100%;
    background-color: #222222;
  }

  .phone-section {
    position: relative;
    flex-direction: column;
    width: 200px;
    justify-content: space-between;
    height: 1300px;
    margin-top: 33px;
  }

  .phone-img {
    width: 120%;
  }
}
