<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My portfolio</title>

    <!-- Css font -->
    <link rel="stylesheet" href="css/home.css">
    
</head>

<body>

    <!-- My first container -->
   
    <div class="container"> 

       <div class="bloc-container1"> 
           <p class="scroll-bar">Scroll bar</p>
       </div> 

       <div class="bloc-container2-general">
           <%- include("partials/header") -%>
            <div class="bloc-container2">
                
    
                <div class="title-first-container">
                    <h1>DEVELOPPER FULLSTACK JS</h1>
                </div>
        
                <div class="text-first-container">
                    <p>Call me Matt, self-made recently graduate from O'clock.<br>
                        I'm based in Paris.<br>
                        Available for share my happiness and my skills with you.
                    </p>
                </div>
    
            </div>
       </div>

    <!-- End first container -->

    <!-- Second container -->

        <div class="main-second-container">

            <div class="title-second-container">
                <h1>WELCOME TO MY WORLD_ </h1>
            </div>
    
            <div class="text-second-container">
                <p>French Fullstack developper spécialized in javascript.<br>
                   I discover this world as an autodidact and in order to consolidate all my knowledge 
                   i joinded the O'clock school.<br><br>
                   I started my professionnal life as a saleman and over the years I have Evolved into managérial positions.<br>
                   I'm passionate about the création of sites and applications integrating a minimalist and avant-garde design.<br><br>
                   To find out more don't hesitate to send me a mail here.
                </p>
            </div>

        </div>

    <!-- End second container -->
    </div>

    <div class="third-container">
        <div class="first-title-project">
            <h2 class="number">01</h2>
            <h3 class="title-project">PROJECT</h3>
        </div>
    </div>


</body>

<script src="/public/home.js"></script>
</html>