<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My portfolio</title>

    <!-- Css font -->
    <link rel="stylesheet" href="css/project1.css">
    
</head>

<body>
    <div class="cursor"></div>
    <div class="cursorCenter"></div>

    <div class="container">
        <div class="container-pics">
            <img src="/images/mockup1.png" alt="">
        </div>
    </div>

  

    <div class="second-container">

        <div class="project">project</div>

        <div class="title-project"><h1>/ROOM_</h1></div>

        <div class="main-blocs">
            <div class="bloc-text">
                <p>
                    ROOM est mon premier site realisé en autodidacte.<br><br>
                    Dans un premier temps j’ai voulu m’exercer sur HTML, CSS ainsi que Javascript en reeditant à partir de zéro une page d’intégration permettant de s’entrainer.<br><br>
                    Après avoir relevé ce défi j’ai rapidement souhaité approfondir mes connaissances en upgradant ce site en changeant sa page de présentation, en creant une page de contact ainsi qu’une page « about ».<br>
                    J’ai également implementer Node.js au projet afin d’obtenir une database pour mon formulaire.<br><br>
                </p>
            </div>
    
            <div class="second-bloc">
                <div class="title-second-bloc"><h4>Frameworks</h4></div>
                
                <div class="frameworks">
                    <ul>
                        <li>HTML / CSS</li>
                        <li>JAVASCRIPT</li>
                        <li>EXPRESS.js</li>
                        <li>NODE.js</li>
                    </ul>
                </div>

                <div class="line">
                    <a href=""></a>
                </div>

                <div class="number-project">
                    <p>01/04</p>
                </div>
            </div>
        </div>

    </div>

    <div class="phone-bloc">
        <div class="phone-section">
            <img class="phone-img" src="images/mockleft.png" alt="">
            <img class="phone-img" src="images/mockcenter.png" alt="">
            <img class="phone-img" src="images/mockright.png" alt="">
        </div>
    </div>

</body>

<script src="/project-1.js"></script>
</html>