<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My portfolio</title>

    <!-- Css font -->
    <link rel="stylesheet" href="css/project1.css">
    
</head>

<body>
    <div class="cursor"></div>

    <div class="container">
        <div class="container-pics">
            <img src="/images/mockup1.png" alt="">
        </div>
    </div>

    <div class="second-container">
        <div class="bloc-text">
            <p>This site is my first website before my intégration to O'clock<br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
                Li ea commodo consequat quis nostrud ullamco<br><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Pharetra massa massa ultricies mi quis. Sed vulputate mi sit amet mauris commodo. Id eu nisl nunc mi.
                Laboris.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Orci sagittis eu volutpat odio facilisis mauris sit.<br><br>
                Orci sagittis eu volutpat odio facilisis mauris sit.
                
                </p>
        </div>

        <div class="second-bloc">
            <div class="title-project">
                <div class="title">ROOM</div>
                <div class="under-title">Website</div>
            </div>
            <div class="frameworks">
                <button class="myBtn">1</button>
                <button class="myBtn">2</button>
                <button class="myBtn">3</button>
                <button class="myBtn">4</button>
                <button class="myBtn">5</button>
                <button class="myBtn">6</button>
            </div>
        </div>

    </div>

    <div class="third-bloc">
        <div class="image-1"></div>
        <div class="image-2"></div>
        <div class="image-3"></div>
    </div>

</body>

<script src="/project-1.js"></script>
</html>