<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My portfolio</title>

    <!-- Css font -->
    <link rel="stylesheet" href="css/project1.css">
    
</head>

<body>
    <div class="cursor"></div>

    <div class="container">
        <div class="container-pics">
            <img src="/images/mockup1.png" alt="">
        </div>
    </div>

    <div class="second-container">
        <div class="bloc-text">
            <p>
                Name : ROOM<br><br>
                Début du projet : Juillet 2020.<br><br>
                    ROOM est mon premier site realisé en autodidacte.<br><br>
                    Dans un premier temps j’ai voulu m’exercer sur HTML, CSS ainsi que JS en reeditant à partir de zéro une page d’intégration permettant de s’entrainer.<br>
                    Après avoir relevé ce défi et au fil des mois j’ai rapidement souhaité approfondir mes connaissances en upgradant ce site en changeant sa page de présentation, en creant une page de contact ainsi qu’une page « about ».<br>
                    J’ai également implementer Node.js au projet afin d’obtenir une database pour mon formulaire.<br><br>
                Difficultés rencontrées :
                <ul>
                    <li>Decouverte de Node.js</li>
                    <li>Apprentissage de Javascript</li>
                </ul>
            </p>
        </div>

        <div class="second-bloc">
            <div class="title-project">
                <div class="title">ROOM</div>
                <div class="under-title">Website</div>
            </div>
            <div class="frameworks">
                <button class="myBtn">1</button>
                <button class="myBtn">2</button>
                <button class="myBtn">3</button>
                <button class="myBtn">4</button>
                <button class="myBtn">5</button>
                <button class="myBtn">6</button>
            </div>
        </div>

    </div>

    <div class="third-bloc">
        <div class="image-1"></div>
        <div class="image-2"></div>
        <div class="image-3"></div>
    </div>

</body>

<script src="/project-1.js"></script>
</html>